@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item:not(:last-child) {
    padding-right: 35px;
  }

  &__list-link {
    
    color: $title;
    padding-bottom: 1px;
    text-transform: uppercase;
    transition: border-bottom 0.3s ease-in-out;
    @extend %quicksand-400;
    &:hover {
      color: $accont;
      border-bottom: 1px solid $accont;
    }
  }

  &__list-link--active {
    color: $accont;
    border-bottom: 1px solid $accont;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link:not(:last-child) {
    padding-right: 25px;
  }

  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accont;
    top: -9px;
    left: 14px;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
  }
}










@import 'media';